.meio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 444px;
}
.imagemJs {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 20px
}
.reloginho{
    display: flex;
    align-items: center;
    flex-flow: column; 
}
.desrepeitandoCanvas {
    display: flex;
}
.imagemJs > img {
    height: 83px;
    margin: 5px;
}
body > div > h1{
    margin-bottom: 20px;
}
.game{
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 20px
}
img#rolex{
    width: 50%!important;
    height: 50%;
}